<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>聊天</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ static_url('bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/buttons.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/webpage.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/main.css') }}" media="screen" type="text/css"/>
</head>
<body background="{{ static_url('image/background/2.jpg') }}">
<div id="webpager">
    <div class="wp_top_bubbles"></div>
    <div class="wp_top_tabs"><!-- 好友通知三栏 -->
        <div id="friend_header" class="wp_top_tab friends png on" style="width:100%; text-align: center;"
             data-tab="friends">
            <span class="wp_top_tab_friends sn hide">0</span>
            <span class="title">好友</span>
        </div>
    </div>
    <div id="buddy"><!-- 内容 -->
        <div id="notifyTab" class="wp_tab notify">
            <div class="wp_collector_box">

            </div>
        </div>
        <div id="friendsTab" class="wp_tab friends">
            <div class="wp_collector search">
                <div class="wp_search_box">
                    <div class="wp_search_input_box">
                        <input id="search_friend_name" class="wp_search_input" type="text" d-value="找好友或建讨论组"
                               placeholder="找好友或建讨论组">
                        <div id='search_friend' class="wp_search_icon png"></div>
                    </div>
                    <div class="mgr_wrap">
                        <div id="add_group_btn" class="setting_icon png"></div>
                        <!--<a class="png setting_icon">-->
                             <!--<div class="setting_wrap" >-->
                                <!--<div class="wp_setting_stranger wp_stranger_prevent">-->
                                    <!--<input style="width: 120px;" type="text"/>-->
                                    <!--<button>确认</button>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->

                        <div id="add_group_div" class="setting_wrap" style="display: none;" >
                            <div class="wp_setting_stranger">
                                <input id="group_name" type="text" placeholder="添加分组" style="height:30px;width:130px">
                                <img id="add_group" src="{{ static_url('image/main/add.png') }}"
                                     style="cursor:pointer;height: 20px;float: right;margin-right: -5px;margin-top: 8px;">
                            </div>
                        </div>
                    </div>
                </div>
                <ul id="search_result_list">
                    <!--<li id="search_show" class="piece_box" style="display:block;">-->
                        <!--<div class="piece_icon">-->
                            <!--<img id="search_show_img0" class="piece_url" src="{{ static_url('image/avatar/1.jpg') }}">-->
                        <!--</div>-->
                        <!--<div class="piece_info">-->
                            <!--<span class="piece_name"></span>-->
                            <!--<span id="search_show_id">哈哈</span>-->
                        <!--</div>-->
                        <!--<img id="search_show_img1" src="{{ static_url('image/main/add.png') }}"-->
                             <!--style="cursor:pointer;height: 30px;float: right;margin-right: 20px;margin-top: 20px;">-->
                    <!--</li>-->
                </ul>
            </div>
            <div id="friends" class="wp_collector friends">
                <div id="friends_group" class="friends_group">
                    <!--<div class="collector_title friends" >-->
                        <!--<img id="" src="{{ static_url('image/main/fold.png') }}"-->
                             <!--style="cursor:pointer;height: 20px;float:left ;margin-left:  20px;margin-top: 10px;">-->
                        <!--<span class="text">全部好友</span>-->
                    <!--</div>-->
                    <!--<ul class="friends_ul">-->
                        <!--<li class="piece_box">-->
                            <!--<div class="piece_icon">-->
                                <!--<img class="piece_url"-->
                                     <!--src="/static/image/avatar/0.jpg">-->
                            <!--</div>-->
                            <!--<div class="piece_info">-->
                                <!--<span class="piece_name">艾芷伊 Yii</span>-->
                                <!--<span class="piece_client png wp-none"></span>-->
                                <!--<span class="piece_online png wp-none"></span>-->
                            <!--</div>-->
                        <!--</li>-->
                    <!--</ul>-->
                </div>
            </div>
        </div>
    </div>
</div>
<div id="content" style="display: none;">
    <div id="chatname" class="wp_top_tabs" style="background-color: rgb(48,133,230)">
        <div class="wp_top_tab">
            <button id="hide_content_button" class="button button-pill button-small"><span class="btn_text">退出</span></button>
        </div>
        <span id="recv_name">名字</span>
    </div>
    <ul id="chat" class="chat-thread">
        <li class="me">Are we 2meeting today?</li>
    </ul>
    <footer id="panelFooter-5" class="">
        <div class="chat_toolbar">
            <textarea id="chat_textarea" class="input input_white chat_textarea"></textarea>
            <button id="send_chat_btn" class="button button-circle" style="margin:3px;" cmd="sendMsg">
                <span id="submit" class="btn_text">发送</span>
            </button>
        </div>

        <iframe id="panel_uploadFilIframe" name="panel_uploadFilIframe" style="display:none"></iframe>
    </footer>
</div>
<script src="{{ static_url('js/jquery.min.js') }}"></script>
<script src="{{ static_url('js/main.js') }}"></script>
<script src="{{ static_url('js/websocket.js') }}"></script>
<script src="{{ static_url('bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>
